
/* #region common */

:root {
    --free-primary: #1abc9c;
    --free-secondary: #2c3e50;
    --free-tertiary: #3a556c;
}

/* #endregion common */


/* #region debug */

.debug * {
    border: 1px dashed;
}

.debug #app_header,
.debug #app_footer {
    min-height: 80px;
    background-color: palevioletred;
    color: white;
}

.debug #app_header .col {
    height: 80px;
}

.debug #app_main {
    min-height: 100vh;
    background-color: paleturquoise;
    color: black;
}

.debug .container,
.debug .row {
    height: 100%;
}

.debug #jumbotron div,
.debug #call_to_action div,
.debug #portfolio .col,
.debug #about .col {
    min-height: 350px;
}

.debug #about .col {
    background-color: palegreen;
}

.debug .footer_top {
    background-color: peachpuff;
    color: black;
}

/* #endregion debug */

/* #region utility */

.bg_free_primary {
    background-color: var(--free-primary);
}

.bg_free_secondary {
    background-color: var(--free-secondary);
}

.bg_free_tertiary {
    background-color: var(--free-tertiary);
}

.star_divider span {
    height: 2px;
    width: 5rem;
    display: inline-block;
}

/* #endregion utility */