/* #region debug */

.debug * {
    border: 1px dashed;
}

.debug #app_header,
.debug #app_footer 
{
    min-height: 80px;
    background-color: palevioletred;
    color: white;
}

.debug #app_header .col  {
    height: 80px;
}

.debug #app_main {
    min-height: 100vh;
    background-color: paleturquoise;
    color: black;
}

.debug .container,
.debug .row
{
    height: 100%;
}

.debug #jumbotron div,
.debug #call_to_action div,
.debug #portfolio .col,
.debug #about .col
{
    height: 350px;
}

.debug #about .col {
    background-color: palegreen;
}

.debug .footer_top {
    background-color: peachpuff;
    color: black;
}

/* #endregion debug */